# sometimes there are conflicts when switching version for multiple language (e.g gvm use, nvm use, rvm use etc.)
# direnvrc file is needed to simplify language switching

# dont forget to install the version
use go 1.20.2